<!-- Background stage -->
<div class="channel-stage absolute top-0 left-0 w-full h-full overflow-hidden">
  <div
    class="channel-stage-gradient absolute bottom-0 left-0 w-full h-full"
  ></div>
</div>

<!-- Content overlay -->
<div class="channel-content relative z-1 flex flex-column min-h-full">
  <app-channel-header
    [username]="username()"
    [verified]="verified()"
    [isOwner]="isOwner()"
  >
    <ng-container slot="viewer-actions">
      @if (isFollowLoading()) {
      <button
        pButton
        type="button"
        icon="pi pi-spin pi-spinner"
        label="Loading"
        disabled
      ></button>
      } @else if (isFollowing()) {
      <button
        pButton
        type="button"
        label="Following"
        icon="pi pi-heart-fill"
        class="w-8rem"
        (click)="onUnfollow()"
      ></button>
      } @else {
      <button
        pButton
        type="button"
        label="Follow"
        icon="pi pi-heart"
        class="p-button-outlined w-8rem"
        (click)="onFollow()"
      ></button>
      }
      <button
        pButton
        type="button"
        label="Subscribe"
        icon="pi pi-star"
        disabled
      ></button>
    </ng-container>
    <ng-container slot="owner-actions">
      <button
        pButton
        type="button"
        label="Edit Channel"
        icon="pi pi-pencil"
        class="p-button-outlined"
      ></button>
    </ng-container>
  </app-channel-header>

  <!-- Tab navigation + child content -->
  <div class="flex-auto px-4">
    <p-tabs [value]="activeTab()" (valueChange)="onTabChange($any($event))">
      <p-tablist>
        <p-tab value="home">Home</p-tab>
        <p-tab value="video">Videos</p-tab>
        <p-tab value="about">About</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel [value]="activeTab()">
          <router-outlet />
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
